<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['table']">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['list']">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['add']">Add product</a>
        </li>
    </ul>
</nav>


<!--
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand">My Cars</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/products']">Cars</a>
        </li>        
    </ul>
</nav>
-->