<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">My Cars</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/products']">Cars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/signin']">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/signup']">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/profile']">Sign out</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/signout']">Profile</a>
        </li>
    </ul>
</nav>