<div class="card" *ngFor="let car of cars">
    <div class="card-body">
        <div>
            Title: {{car.title}}
        </div>
        <div>
            Model: {{car.model}}
        </div>
        <div>
            Price: {{car.price}}$
        </div>
        <div>
            Year: {{car.year}}
        </div>
    </div>
    <div class="card-body">        
        <a class="card-link" routerLinkActive="active" [routerLink]="['/products', car.id, 'edit']">Edit</a>
        <a class="card-link" routerLinkActive="active" [routerLink]="['/products', car.id, 'delete']">delete</a>
    </div>
</div>